@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

#outer-box{
    display: inline-flex;
    min-height:85vh;
    min-width: 100vw;
    /* margin: 8% 0; */
    justify-content: center;
    align-items: center;
}

#box{
    background-color: #0B2434;
    width: 35%;
    padding: 3rem;
}

#inner-box{
    position: relative;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem 2rem 1rem;
    border-radius: 1rem;
}

#title {
    color: #2B283A;
    font-size: 25.60px;
    font-weight: 700;
    word-wrap: break-word
}

#instructions {
    color: #4A4E74;
    font-size: 13.11px;
    font-weight: 400;
    word-wrap: break-word;
    padding: 0 3rem;
    text-align: center;
}

.dies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1rem;
    padding: 2rem 0rem 0rem 0rem;
}

#win-msg{
    position: absolute;
    bottom: 23%;
    color: green;
}

.selected{
    border: 2px solid #2B283A;
    background-color: #59E391 !important;
}

.dice{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 3rem;
    height: 3rem;
    border-radius: 4px;
    padding: .7rem 1rem;
    font-size: 20.59px;
    font-weight: 700;
    background-color: white;
    word-wrap: break-word;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.dice:hover{
    cursor: pointer;
}

.roll-btn{
    color: white;
    font-size: 16.38px;
    font-weight: 700;
    word-wrap: break-word;
    background-color: #5035FF;
    padding: .5rem 2rem;
    border-radius: 4px;
    margin-top: 3rem;
}

.roll-btn:hover{
    cursor: pointer;
}

@media(max-width: 1024px){
    #box{
        width: 60%;
    }
    #outer-box{
        margin:11% 0;
    }
}

@media(max-width:700px){
    #box{
        width: 95%;
    }
    #outer-box{
        margin: 11% 0;
    }
    .dies{
        gap: .4rem;
    }
    .dice {
        width: 2rem;
        height: 2rem;
        border-radius: 4px;
        font-size: 1rem;
    }

    #instructions{
        padding: 0 1rem;
    }
}